<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.torchclient.game">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />

    <application
        android:label="Torch Client"
        android:enableOnBackInvokedCallback="false"
        android:allowNativeHeapPointerTagging="false"
        android:hasCode="false"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true"
        android:debuggable="true">

        <activity
            android:name="android.app.NativeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:resizeableActivity="false"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard|navigation|uiMode|density|touchscreen">

            <meta-data
                android:name="android.app.lib_name"
                android:value="torch_client" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
